body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
}

header.showNav {
    justify-content: center;
}

h1 {
    margin: 0;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

.nav-links {
    display: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 5px;
}

.nav-links.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-links.show a:hover {
    background-color: #555;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.players-display {
    display: grid;
    grid-template-columns: 1fr; /* 2 columns, main content wider */
    grid-gap: 10px; /* gap between grid items */
    max-width: 1000px;
    margin: 0 auto;
}

/*figure {
    margin: 0 auto;
    text-align: center;
}*/



p {
    font-family: "Montserrat", sans-serif;
}

li {
    font-family: "Montserrat", sans-serif;
}

.close-button {
    position: fixed;
    right: 0;
    top: 0;
    margin: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}

.player {
    background-color: lightgray;
    border: 1px solid #333;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    border-radius: 10px;
}

.player-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: -10px;
    grid-gap: 10px;
    padding-right: 10px;
}

.label {
    font-weight: bold;
    text-align: right;
    padding-left: 20px;
}

img {
    width: auto;
    max-height: 300px;
    padding-bottom: 20px;
    padding-top: 20px;
}

h2 {
    font-size: 1.8rem;
}

.player h2 {
    font-size: 1.5rem;
}

.tour-history {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 300px;
    margin: auto;
}

.tour {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: lightgray;
}

.tour img {
    max-height: 300px;
    width: auto;
    margin: auto;
}

h2 {
    text-align: center;
}

.submit-page {
    display: block;
}

.submit-page p {
    font-weight: normal;
}

.form {
    width: 98%;
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
    display: block;
    max-width: 250px;
    border-radius: 10px;
}

.form-field {
    margin-bottom: 1rem;
}

.form-field label {
    display: block;
    margin-bottom: 0;
    text-align: left;
    font-weight: bold;
    font-size: 1.2rem;
}

.form-field label i {
    font-weight: lighter;
}

.form-field p b {
    font-size: 1.2rem;
}

.form-field select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
}

.form-field input {
    width: 90%;
    padding: 0.5rem;
    font-size: 1rem;
}

.formfield textarea {
    width: 95%;
}

.checkbox-group {
    display: block;
    margin-top: 5px;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
    font-weight: lighter;
}

.checkbox-group input[type="checkbox"] {
    /*margin-right: -125px;
    margin-left: -125px;*/
    padding-left: 0px;
    width: 10%;
}

.radio {
    padding-left: 0px;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.radio input[type="radio"] {
    height: 10%;
    width: auto;
    margin-right: 30px;
    margin-left: 20px;
}


input[type="submit"] {
    padding: 10px;
    font-size: 1.5rem;
    width: 100%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}

/* stars */
/*
input[type="radio"] {
	display: none;
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}

.stars {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
}

.stars > label {
	color: gold;
	width: 30px;
	height: 30px;
	font-size: 2rem;
	margin-left: 5px;
	display: flex;
	align-items: center;
	caret-color: rgba(0, 0, 0, 0);
}

.stars > label:hover {
	color: #000;
}

.stars > label::before {
	content: "\2606";
}

.stars input:checked ~ label::before {
	content: "\2605";
}
*/