body {
    margin: 0;
    /*font-family: Arial, sans-serif;*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', 'Montserrat', sans-serif;
}

header {
    display: block;
    /*justify-content: space-between;
    align-items: center;*/
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
}

h1, h2, h3 {
    text-align: center;
}

p {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0;
}

p i {
    font-weight: lighter;
}

.review-page {
    display: block;
}

.review-page p {
    font-weight: normal;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 300px;
}

.form {
    width: 98%;
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
    display: block;
    max-width: 250px;
}

.form-field {
    margin-bottom: 1rem;
}

.form-field label {
    display: block;
    margin-bottom: 0;
    text-align: left;
    font-weight: bold;
    font-size: 1.2rem;
}

.form-field label i {
    font-weight: lighter;
}

.form-field select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
}

.form-field input {
    width: 90%;
    padding: 0.5rem;
    font-size: 1rem;
}

.formfield textarea {
    width: 95%;
}

.checkbox-group {
    display: block;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
    font-weight: lighter;
}

.checkbox-group input[type="checkbox"] {
    /*margin-right: -125px;
    margin-left: -125px;*/
    padding-left: 0px;
    width: 10%;
}

input[type="submit"] {
    padding: 10px;
    font-size: 1.5rem;
    width: 100%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}

/* stars */
input[type="radio"] {
	display: none;
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}

.stars {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
}

.stars > label {
	color: gold;
	width: 30px;
	height: 30px;
	font-size: 2rem;
	margin-left: 5px;
	display: flex;
	align-items: center;
	caret-color: rgba(0, 0, 0, 0); /* remove blinking cursor*/
}

.stars > label:hover {
	color: #000;
}

.stars > label::before {
	content: "\2606";
}

.stars input:checked ~ label::before {
	content: "\2605";
}

/*
.temple-display {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
}

figure {
    margin: 0 auto;
    text-align: center;
}



p {
    font-family: "Montserrat", sans-serif;
}

li {
    font-family: "Montserrat", sans-serif;
}

.close-button {
    position: fixed;
    right: 0;
    top: 0;
    margin: 20px;
}



.temple {
    background-color: lightgray;
    border: 1px solid #333;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 320px;
}

.temple-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: -10px;
    grid-gap: 10px;
    padding-right: 10px;
}

.label {
    font-weight: bold;
    text-align: right;
}

img {
    width: 90%;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

h2 {
    font-size: 1.8rem;
}

.temple h2 {
    font-size: 1.5rem;
*/