:root {
    --light-gray: #ddd;
    --dark-gray: #333;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    /*min-height: 100vh;*/
    font-family: 'Open Sans', sans-serif;
    /*max-width: 1000px;*/
    margin: auto;
    height: 100%;
}

header {
    background-color: var(--dark-gray);
    color: white;
    text-align: center;
    padding-top: 1px;
}

header h1 {
    padding: 20px;
}

footer {
    background-color: var(--dark-gray);
    color: white;
    text-align: center;
}

.spacer {
    height: 20px;
    background-color: var(--light-gray);
}

.small-spacer {
    height: 5px;
    background-color: var(--light-gray);
    margin-top: -5px;
}

.weather {
    display: grid;
    grid-template-columns: 1fr;
    border-top: 1px solid var(--light-gray);
    padding: 20px;
}

.weather h2 {
    text-align: center;
}

.weather-icon {
    height: 75px;
    width: auto;
    margin: auto;
    padding-bottom: 20px;
}

.data {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}

.data h2 {
    text-align: center;
}

.data-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: -10px;
}

.label {
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
}

.value {
    text-align: left;
    padding-left: 5px;
}

.hero {
    margin-top: -1px;
}

.hero img{
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: 1px;
}

@media screen and (min-width: 750px) {
    body {
        position: relative;
    }
    .hero {
        /*position: relative;*/
    }

    .data {
        position: absolute;
        /*top: 175px;
        left: 450px;*/
        top: 25%;
        left: 4%;
        background-color: rgba(0, 0, 0, .8);
        color: white;
        display: block;
        padding-right: 40px;
    }

    .data h2 {
        /*background-color: rgba(255, 255, 255, .8);*/
        background-color: var(--light-gray);
        color: black;
        text-align: left;
        padding: 15px;
        padding-left: 20px;
        margin-left: -30px;
        margin-top: -10px;
    }

    .data-item {
        margin: -25px;
    }

    .weather {
        position: absolute;
        bottom: 18%;
        right: 3%;
        /*right: 20px;
        bottom: 100px;*/
        background-color: rgba(0, 0, 0, .8);
        color: white;
        display: block;
        padding-right: 40px;
        border: none;
    }

    .weather h2 {
        /*background-color: rgba(255, 255, 255, .8);*/
        background-color: var(--light-gray);
        color: black;
        text-align: left;
        padding: 15px;
        padding-left: 20px;
        margin-left: -30px;
        margin-top: -10px;
    }

    .weather-h2::after {
        content: "🌦️";
        font-size: 2rem;
        padding-left: 10px;
        /*background-color: red;*/
        /*top: 10px;
        right: 5px;*/
    }

    .weather-icon {
        display: none;
    }
}

@media screen and (min-width: 1050px) {

    .data {
        position: absolute;
        top: 18%;
        left: 3%;
        background-color: rgba(0, 0, 0, .8);
        color: white;
        display: block;
        padding-right: 40px;
    }

    .weather {
        position: absolute;
        bottom: 12%;
        right: 3%;
        background-color: rgba(0, 0, 0, .8);
        color: white;
        display: block;
        padding-right: 40px;
        border: none;
    }
}