@media screen and (min-width: 500px) {
    header {
        background-color: black;
        color: white;
    }

    .grid {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
}